In [1]:
import pandas as pd
import numpy as np
import os
from pathlib import Path

In [2]:
timeSeries = pd.read_csv('../Datasets/FoodProductionTimeSeriesCO2Impact.csv')

#filepath = Path('../Datasets/FoodProductionTimeSeriesCO2Impact.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
#exp.to_csv(filepath)

In [3]:
timeSeries

,Unnamed: 0,Area,Year,Item,Unit,Value,emissionperKGProduct,productionKG,totalCO2
0,0,Afghanistan,1961,Apples,tonnes,15100.0,0.3,1.510000e+07,4.530000e+06
1,1,Afghanistan,1962,Apples,tonnes,15100.0,0.3,1.510000e+07,4.530000e+06
2,2,Afghanistan,1963,Apples,tonnes,15100.0,0.3,1.510000e+07,4.530000e+06
3,3,Afghanistan,1964,Apples,tonnes,18400.0,0.3,1.840000e+07,5.520000e+06
4,4,Afghanistan,1965,Apples,tonnes,20400.0,0.3,2.040000e+07,6.120000e+06
...,...,...,...,...,...,...,...,...,...
246000,246000,Net Food Importing Developing Countries,2016,Coffee,tonnes,2103300.0,16.5,2.103300e+09,3.470445e+10
246001,246001,Net Food Importing Developing Countries,2017,Coffee,tonnes,2261819.0,16.5,2.261819e+09,3.732001e+10
246002,246002,Net Food Importing Developing Countries,2018,Coffee,tonnes,2363932.0,16.5,2.363932e+09,3.900488e+10
246003,246003,Net Food Importing Developing Countries,2019,Coffee,tonnes,2431281.0,16.5,2.431281e+09,4.011614e+10
246004,246004,Net Food Importing Developing Countries,2020,Coffee,tonnes,2352796.0,16.5,2.352796e+09,3.882113e+10

In [4]:
#Keep only 2015 cow, wheat, pig, goat, chicken
timeSeries = timeSeries.loc[timeSeries['Item'].isin(['Beef', 'Wheat', 'Pig', 'Goat', 'Chicken'])]
timeSeries = timeSeries.loc[timeSeries['Year'].isin([2015])]
print(timeSeries['Item'].unique())

['Chicken' 'Goat' 'Wheat' 'Beef' 'Pig']

In [5]:
timeSeries

,Unnamed: 0,Area,Year,Item,Unit,Value,emissionperKGProduct,productionKG,totalCO2
31839,31839,Afghanistan,2015,Chicken,tonnes,24559.0,6.1,2.455900e+07,1.498099e+08
31899,31899,Albania,2015,Chicken,tonnes,12905.0,6.1,1.290500e+07,7.872050e+07
31959,31959,Algeria,2015,Chicken,tonnes,258696.0,6.1,2.586960e+08,1.578046e+09
32019,32019,Angola,2015,Chicken,tonnes,39529.0,6.1,3.952900e+07,2.411269e+08
32079,32079,Antigua and Barbuda,2015,Chicken,tonnes,39.0,6.1,3.900000e+04,2.379000e+05
...,...,...,...,...,...,...,...,...,...
182427,182427,Least Developed Countries,2015,Pig,tonnes,1833857.0,7.2,1.833857e+09,1.320377e+10
182487,182487,Land Locked Developing Countries,2015,Pig,tonnes,862531.0,7.2,8.625310e+08,6.210223e+09
182547,182547,Small Island Developing States,2015,Pig,tonnes,487201.0,7.2,4.872010e+08,3.507847e+09
182607,182607,Low Income Food Deficit Countries,2015,Pig,tonnes,4779692.0,7.2,4.779692e+09,3.441378e+10
182667,182667,Net Food Importing Developing Countries,2015,Pig,tonnes,2523281.0,7.2,2.523281e+09,1.816762e+10

In [7]:
filepath = Path('../Datasets/CowWheatPigGoatChickenConsumption2015.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
timeSeries.to_csv(filepath)